<div class="card bg-base-300 shadow-xl">
    <figure>
        <img src="<%= image %>" alt="<%= alt %>" class="w-full <%= imageClass %>">
    </figure>
    <div class="card-body">
        <p class="text-sm font-semibold text-white mb-2"><%= task %></p>
        <h2 class="card-title text-primary mb-2"><%= title %></h2>
        <p><%= description %></p>
        <div class="card-actions justify-start mt-4">
            <a href="<%= buttonLink %>" class="btn"><%= buttonText %></a>
        </div>
    </div>
</div>
