<!DOCTYPE html>
<html lang="de" data-theme="helpbaerai" class="h-full">
<head>
    <%- include('../partials/head') %>
    <title>HelpBärAI - <%= assistant.title %></title>
    <script type="module" src="/js/assistant-analysis.js"></script>
    <script>
        window.loadingFacts = <%- JSON.stringify(loadingFacts) %>;
        window.assistantType = "<%= assistant.title %>"; 
    </script>
</head>
<body class="bg-base-100 text-base-content flex flex-col min-h-screen <%= locals.user ? 'user-logged-in' : '' %>" data-assistant-input-type="<%= assistant.inputType %>">
    <%- include('../partials/header') %>
    <div id="errorContainer" class="hidden bg-primary  text-white px-4 py-3 rounded relative mb-4 text-center" role="alert"></div>    
    <div class="flex-grow flex">
        <main class="flex-grow p-4 lg:p-8 flex justify-center">
            <div class="w-full max-w-4xl">
                <h1 class="text-3xl font-bold mb-4"><%= assistant.task %></h1>
                <p class="mb-4 text-xl"><%= assistant.description %></p>
                <form id="aiAssistantForm">
                    <%- include('../partials/ai-assistant-form', { assistant: assistant }) %>
                </form>

                <%- include('../partials/webhook-response') %>
            </div>
        </main>
           
        <%- include('../partials/assistant-sidepanel', { assistant: assistant }) %>
    </div>

    <%- include('../partials/loading-animation') %>
    <%- include('../partials/login-popup') %>
    <%- include('../partials/footer') %>

</body>
</html>