<!DOCTYPE html>
<html lang="de" data-theme="helpbaerai" class="h-full">
<head>
    <title>HelpBärAI - Dein bärenstarker AI-Assistent</title>
    <meta name="description" content="HelpBärAI ist dein bärenstarker AI-Assistent, der dir hilft, deine Produktivität zu steigern. Mit unseren intelligenten KI-Assistenten kannst du selbst ausprobieren, wie KI-Assistenten auch deinen Arbeitsalltag unterstützen können.">
    <meta name="author" content="Rico Loschke - kvix.de | queonext.de">
    <link rel="canonical" href="https://helpbaerai.de">
    <%- include('../partials/head') %>
</head>
<body class="bg-base-100 text-base-content flex flex-col min-h-screen">
    <%- include('../partials/header') %>
    
    <!-- START Main -->     
    <main class="flex-grow">
        <div class="container mx-auto px-4 py-10 lg:py-20">
            <div class="text-center mb-16">
                <h1 class="text-5xl md:text-7xl font-ff-clan mb-4 text-white">
                    <span class="text-primary font-black">HelpBärAI</span><br>
                    Unsere bärenstarken AI-Assistenten
                </h1>
                <p class="text-xl mb-8 max-w-5xl mx-auto">
                    Stell dir vor, du hättest einen Knopf, der deine Produktivität verdoppelt. Unsere Plattform ist dein Fenster in eine Zukunft, in der AI-Assistenten komplexe Aufgaben meistern, während du dich auf das Wesentliche konzentrieren kannst. AI-Assistenten analysieren, sortieren, priorisieren und inspirieren – genau dort, wo du Unterstützung oder Automatisierung brauchst.
                </p>
                <button class="btn btn-primary text-primary-content px-8 py-3 text-lg">
                    Jetzt Demo & Test vereinbaren
                </button>
            </div>

            <h2 class="text-3xl font-bold mb-8 text-center">Dürfen wir vorstellen ...</h2>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
                <% aiAssistants.forEach(assistant => { %>
                    <%- include('../partials/ai-assistant-card', { 
                        ...assistant, 
                        imageClass: 'aspect-square object-cover',
                        buttonText: assistant.buttonText || 'Mehr erfahren',
                        buttonLink: assistant.buttonLink || '#',
                        task: assistant.task || 'Allgemeiner Assistent'
                    }) %>
                <% }); %>
                <div class="card shadow-xl bg-info">
                    <figure>
                        <img src="images/neubert.png" alt="Dein eigener AI-Assistent" class="w-full">
                    </figure>
                    <div class="card-body text-info-content">
                        <p class="text-sm font-semibold text-white mb-2">Corportate Assistant</p>
                        <h2 class="card-title text-black">Dein eigener AI-Assistant</h2>
                        <p>Wir stellen dir maßgeschneiderte KI-Assistenten zur Verfügung – genau dort, wo du sie brauchst.</p>
                        <ul class="list-disc list-inside">
                            <li>Webanwendung</li>
                            <li>Browsererweiterung</li>
                            <li>Desktop-App</li>
                            <li>Chatbot</li>
                            <li>API</li>
                        </ul>
                        <div class="card-actions justify-start mt-4">
                            <a href="https://queonext.de/ai/" target="_blank" class="btn btn-secondary">Ich möchte einen Assistenten</a>
                        </div>
                    </div>
                </div>
                <div class="card shadow-xl bg-slate-300">
                    <figure>
                        <img src="images/studentbert.png" alt="Dein eigener AI-Assistent" class="w-full">
                    </figure>
                    <div class="card-body text-info">
                        <p class="text-sm font-semibold text-info mb-2">Kurse & Workshops</p>
                        <h2 class="card-title text-black">Dein neues AI-Wissen</h2>
                        <p class="text-black">Wir helfen dir, die Möglichkeiten von KI zu erkunden und zu nutzen. Von der Grundlagen bis zur Anwendung.</p>
                        <ul class="list-disc list-inside text-black">
                            <li>AI-Strategie & Roadmap</li>
                            <li>chatGPT & Business Prompting</li>
                            <li>AI-Design & AI-Fotografie</li>
                            <li>Prompt-Engineering</li>
                            <li>AI-Tools & Development</li>
                        </ul>
                        <div class="card-actions justify-start mt-4">
                            <a href="https://queonext.de/ai/" target="_blank" class="btn btn-secondary">Ich möchte mehr erfahren</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- New FAQ section -->
            <section class="mt-28">
                <h2 class="text-3xl font-bold mb-8 text-center">Häufig gestellte Fragen</h2>
                <div class="max-w-4xl mx-auto">
                    <%- include('../partials/faq') %>
                </div>
            </section>
        </div>
    </main>
    <!-- END Main -->

    <%- include('../partials/footer') %>
</body>
</html>
